body {
    background: url("../images/fondo.jpg"); 
    margin:0;

}

.container {
   justify-content: center;
   align-items: center;
   display: flex;
   padding-top:30vh;
   
}
#contrasena , #email{
    width: 100%;
    height: 40px;;
}
.card{
    position: relative;
    border-radius:10px;
    width: 25rem;
}

#button {
    width: 100%;
}


#ingreso{
    width:18rem;
}


